---
import { twMerge } from "tailwind-merge";

interface ShinyDotProps {
  color: "green" | "red";
}
const { color } = Astro.props as ShinyDotProps;

const lightClass = color === "green" ? "bg-green-500" : "bg-red-500";
const pingClass = color === "green" ? "bg-green-400" : "bg-red-400";
---

<span class="mr-3 inline-block">
  <span class="relative flex h-3 w-3">
    <span class={twMerge("animate-ping-slow absolute inline-flex h-full w-full rounded-full  opacity-75", lightClass)}></span>
    <span class={twMerge("relative inline-flex rounded-full h-3 w-3 bg-green-500", pingClass)}></span>
  </span>
</span>
